@charset "UTF-8";
.clearfix::after{ content: ''; clear: both; display: block; }
.pc_cut { display: block; vertical-align: baseline; }
.m_cut{ display: inline; vertical-align: baseline; }
.pc_view { display: block ;  }
.m_view { display: none ;   }
.header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    background:rgba(255,255,255,0.2);
    box-shadow: 0 2px 4px 5px rgba(0,0,0,0.07);

}
.header_ul{
    display: flex;
    align-items: baseline;
}
.header_ul li{}
.header_ul li a{
    font-size:16px;
    color:#000;

}
:root{
    --text-color:#232323;

}