<head>
    <link rel="stylesheet" href="/package/css/common.css">
    <link rel="stylesheet" href="/package/css/base.css">
    <link rel="stylesheet" href="/package/css/style.css">

    
</head>
<header class="header">
    <ul class="header_ul">
        <li><a id="index" href="/index.html">Main</a></li>
        <li><a id="about" href="/page/about.html">about</a></li>
        <li><a id="portfolio" href="/page/portfolio.html">Portfolio</a></li>
        <li><a id="contact" href="">Contact us</a></li>
    </ul>
    <script>
            const locationPath = window.location.pathname.split('/');
            const pathFile = locationPath[locationPath.length - 1];
            const pathName = pathFile.split('.')[0]
            console.log(pathName)

            for(i = 0; i < document.querySelector('.header_ul li').length; i++ ){

                const tab = document.querySelector('.header_ul li')[i];
                if(
                    tab.id==pathName
                ){
                    tab.classList.add('on')
                } else {
                    tab.classList.remove('on')
                }

            }
            
            
    </script>
</header>