
<div class="header">
    <a href="/" class="header_logo">
        <img src="/package/image/logo.png" alt="로고">
    </a>
    <ul class="header_ul">
        <li id="index"><a href="/index.html">Main</a></li>
        <li id="about"><a href="/page/about.html">about</a></li>
        <li id="portfolio"><a href="/page/portfolio.html">Portfolio</a></li>
        <li id="contact"><a href="">Contact us</a></li>
    </ul>
</div>
<button class="header_ham " onclick="headerModal()">
    <span></span>
    <span></span>
    <span></span>
</button>
<div class="header_modal">
    <ul class="header_modal_list">
        <li ><a href="/index.html">Main</a></li>
        <li ><a href="/page/about.html">about</a></li>
        <li ><a href="/page/portfolio.html">Portfolio</a></li>
        <li ><a href="">Contact us</a></li>
    </ul>    

</div>